fidelizacion/canje_qr_workflow.json
{
  "name": "Fidelización Narbo's - Canje QR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "canje-QR",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-canje",
      "name": "Webhook (Canje QR)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes_fidelizacion",
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "codigo_descuento",
              "operator": "eq",
              "value": "={{ $json.query.code.trim() }}"
            }
          ]
        }
      },
      "id": "supabase-buscar",
      "name": "Supabase: Buscar Cupón",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.canjeado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-canjeado",
      "name": "Verificar Estado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clientes_fidelizacion",
        "updateKey": "id",
        "columns": "canjeado, fecha_canje",
        "values": {
          "canjeado": true,
          "fecha_canje": "={{ $now }}"
        }
      },
      "id": "supabase-update",
      "name": "Supabase: Marcar Uso",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Canje Exitoso</title><style>body{font-family:'Montserrat',sans-serif;text-align:center;padding:20px;background:#f0fdf4;color:#166534;display:flex;align-items:center;justify-content:center;height:100vh;margin:0}.card{background:white;padding:40px;border-radius:20px;box-shadow:0 10px 25px rgba(0,0,0,0.1);max-width:400px;width:100%}.icon{font-size:60px;margin-bottom:20px}h1{margin:0 0 10px;font-size:24px}p{margin:5px 0;color:#666}.code{font-size:28px;font-weight:bold;color:#166534;margin:20px 0;padding:15px;background:#f0fdf4;border:2px dashed #166534;border-radius:10px}</style></head><body><div class=\"card\"><div class=\"icon\">✅</div><h1>¡Descuento Aplicado!</h1><p>Cupón válido y redimido.</p><div class=\"code\">{{ $node[\"Webhook (Canje QR)\"].json.query.code }}</div><p>Cliente: <strong>{{ $node[\"Supabase: Buscar Cupón\"].json.nombre }}</strong></p></div></body></html>",
        "options": {}
      },
      "id": "response-success",
      "name": "HTML: Exito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Error de Canje</title><style>body{font-family:'Montserrat',sans-serif;text-align:center;padding:20px;background:#fef2f2;color:#991b1b;display:flex;align-items:center;justify-content:center;height:100vh;margin:0}.card{background:white;padding:40px;border-radius:20px;box-shadow:0 10px 25px rgba(0,0,0,0.1);max-width:400px;width:100%}.icon{font-size:60px;margin-bottom:20px}h1{margin:0 0 10px;font-size:24px}p{margin:5px 0}</style></head><body><div class=\"card\"><div class=\"icon\">❌</div><h1>Cupón Inválido</h1><p>El código <strong>{{ $node[\"Webhook (Canje QR)\"].json.query.code }}</strong> no existe o ya fue usado. Verifica en el sistema.</p></div></body></html>",
        "options": {
          "responseCode": 400
        }
      },
      "id": "response-error",
      "name": "HTML: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 550]
    }
  ],
  "connections": {
    "Webhook (Canje QR)": {
      "main": [
        [
          {
            "node": "Supabase: Buscar Cupón",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Buscar Cupón": {
      "main": [
        [
          {
            "node": "Verificar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Estado": {
      "main": [
        [
          {
            "node": "Supabase: Marcar Uso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Marcar Uso": {
      "main": [
        [
          {
            "node": "HTML: Exito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
