fidelizacion/fidelizacion_automations_n8n.json
{
  "name": "Narbo's: Automatizaciones de Retención",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "4e1279ef-bedd-4d9c-b17f-6f151d67e39e",
      "name": "Cron Diario (8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        528,
        192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes_fidelizacion",
        "returnAll": true,
        "filterType": "none"
      },
      "id": "d96afe97-705f-4fb1-a24f-62184b992ebf",
      "name": "Supabase: Buscar Cumpleaños",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5hkYuZVAhznvx7lf",
          "name": "Supabase Fidelizacion Narbo's Pro"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes_fidelizacion",
        "returnAll": true,
        "filterType": "none"
      },
      "id": "82bbc60f-1f11-45c1-9f93-a945ed310968",
      "name": "Supabase: Buscar Vencimientos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5hkYuZVAhznvx7lf",
          "name": "Supabase Fidelizacion Narbo's Pro"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Supabase: Buscar Cumpleaños\"].json[\"email\"] }}",
        "subject": "¡Feliz Cumpleaños! Un regalo especial de Narbo's 🎂",
        "message": "={{ $node[\"Fetch Template Birthday\"].json[\"text\"] }}",
        "options": {}
      },
      "id": "e2b3547d-1c62-424c-b439-411a8d6be956",
      "name": "Gmail: Enviar Regalo Cumple",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1328,
        96
      ],
      "webhookId": "5b0960d4-c1a6-4daf-9a94-81f1236c60ac",
      "credentials": {
        "gmailOAuth2": {
          "id": "lNjVIDDslMtvykTE",
          "name": "Gmail selonel26@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Supabase: Buscar Vencimientos\"].json[\"email\"] }}",
        "subject": "¡Tu beneficio de Narbo's expira pronto! ⏳",
        "message": "={{ $node[\"Customer\"].json[\"name\"] }}",
        "options": {}
      },
      "id": "c3b68f51-9f08-478d-9d1e-45d1ff7a141f",
      "name": "Gmail: Enviar Recordatorio",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1328,
        352
      ],
      "webhookId": "0f9604f4-9c82-4eb2-b774-ae1a6e2cda79",
      "credentials": {
        "gmailOAuth2": {
          "id": "lNjVIDDslMtvykTE",
          "name": "Gmail selonel26@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "https://narbossalon.com/fidelizacion/birthday_email_template.html",
        "options": {}
      },
      "id": "817445a0-80f5-403a-8489-a7f7a82a621f",
      "name": "Fetch Template Birthday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1136,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://narbossalon.com/fidelizacion/reminder_email_template.html",
        "options": {}
      },
      "id": "cbf4543c-f33b-416a-a875-813f3197affc",
      "name": "Fetch Template Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1136,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d5ad801-21b7-4782-9990-fff88102745e",
              "leftValue": "={{ $json.created_at }}",
              "rightValue": "={{ $now.minus({days: 150}) }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "3ce0ce72-3c61-4912-88b3-c28401832b6f",
              "leftValue": "={{ $json.canjeado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        928,
        352
      ],
      "id": "a2bd8bdb-55de-45c7-a44a-9db2c1f8884e",
      "name": "Filtrar Vencimiento 5 Meses"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7d193ed-587c-49e4-a666-c086798a2eea",
              "leftValue": "={{ $json.birthday.substring(5) }}",
              "rightValue": "={{ $now.format('MM-DD') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        928,
        96
      ],
      "id": "46f0f54b-148a-4376-a830-9848cd043141",
      "name": "Filtrar Cumpleaños Hoy"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Diario (8 AM)": {
      "main": [
        [
          {
            "node": "Supabase: Buscar Cumpleaños",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase: Buscar Vencimientos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Buscar Cumpleaños": {
      "main": [
        [
          {
            "node": "Filtrar Cumpleaños Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Template Birthday": {
      "main": [
        [
          {
            "node": "Gmail: Enviar Regalo Cumple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Buscar Vencimientos": {
      "main": [
        [
          {
            "node": "Filtrar Vencimiento 5 Meses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Template Reminder": {
      "main": [
        [
          {
            "node": "Gmail: Enviar Recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Vencimiento 5 Meses": {
      "main": [
        [
          {
            "node": "Fetch Template Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Cumpleaños Hoy": {
      "main": [
        [
          {
            "node": "Fetch Template Birthday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "d4e31ac4-17d6-4288-be99-dc17a71c3414",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdffcaf648a7aa062da0ec843fff869b930e75adc5303a6a19e86b840cf683f2"
  },
  "id": "l8GFwqHd5oRJochct6GTT",
  "tags": [
    {
      "updatedAt": "2026-01-16T14:38:20.363Z",
      "createdAt": "2026-01-16T14:38:20.363Z",
      "id": "2fMujRCNrT2UjAOq",
      "name": "Agencia de marketing"
    }
  ]
}