fidelizacion/Fidelización Narbo's - Estado QR.json
{
  "name": "Fidelización Narbo's - Estado QR",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "==<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Confirmar Canje</title>\n<style>\nbody { font-family: 'Montserrat', sans-serif; text-align: center; padding: 20px; background: #f8fafc; color: #334155; display: flex; align-items: center; justify-content: center; height: 100vh; margin: 0; flex-direction: column }\n.card { background: white; padding: 40px; border-radius: 20px; box-shadow: 0 10px 25px rgba(0,0,0,0.05); max-width: 400px; width: 100% }\n.icon { font-size: 50px; margin-bottom: 15px }\nh1 { margin: 0 0 10px; font-size: 22px }\np { margin: 5px 0; color: #64748b; font-size: 15px }\n.code { font-size: 24px; font-weight: bold; color: #0f172a; margin: 20px 0; padding: 15px; background: #f1f5f9; border: 2px dashed #cbd5e1; border-radius: 10px }\n.btn-confirm { display: inline-block; background-color: #16a34a; color: white; text-decoration: none; padding: 16px 32px; border-radius: 30px; font-weight: 600; font-size: 16px; margin-top: 20px; width: 100%; box-sizing: border-box; border: none; cursor: pointer; transition: background 0.3s }\n.btn-confirm:hover { background-color: #15803d }\n.btn-cancel { display: inline-block; background-color: transparent; color: #ef4444; text-decoration: none; padding: 12px; font-weight: 600; font-size: 14px; margin-top: 10px; border: none; cursor: pointer }\n</style>\n<script>\nfunction cancelarCanje() {\n    document.body.innerHTML = \"<div class='card'><div class='icon'>✋</div><h1>Canje Cancelado</h1><p>No se ha redimido el cupón. Puedes cerrar esta pantalla de forma segura.</p></div>\";\n}\n</script>\n</head>\n<body>\n<div class=\"card\">\n<div class=\"icon\">👋</div>\n<h1>Validar Cupón</h1>\n<p>Cupón <strong>{{ $node[\"Supabase: Buscar Cupón\"].json.tipo }}</strong> encontrado y listo para usar.</p>\n<div class=\"code\">{{ $node[\"Webhook (Canje QR)\"].json.query.code }}</div>\n<form method=\"POST\" action=\"./confirmar-canje\">\n<input type=\"hidden\" name=\"id\" value=\"{{ $node['Supabase: Buscar Cupón'].json.id }}\">\n<button type=\"submit\" class=\"btn-confirm\">✔ Confirmar y Canjear</button>\n</form>\n<button type=\"button\" onclick=\"cancelarCanje()\" class=\"btn-cancel\">Cancelar y no canjear</button>\n</div>\n</body>\n</html>\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "feb8608a-65d7-4224-91ce-6a527eb28d1e",
      "name": "HTML: Confirmar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        176,
        -880
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bonos",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "codigo",
              "condition": "eq",
              "keyValue": "={{ $json.query.code || '' }}"
            }
          ]
        }
      },
      "id": "99058955-99b4-44cf-85fb-7d70da9bb56a",
      "name": "Supabase: Buscar Cupón",
      "type": "n8n-nodes-base.supabase",
      "alwaysOutputData": true,
      "typeVersion": 1,
      "position": [
        -272,
        -784
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5hkYuZVAhznvx7lf",
          "name": "Supabase Fidelizacion Narbo's Pro"
        }
      }
    },
    {
      "parameters": {
        "path": "canje-QR",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1c4c17a-0674-48e3-8c74-399708dcfc8d",
      "name": "Webhook (Canje QR)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -688,
        -768
      ],
      "webhookId": "25fb3331-953c-4bd9-816b-8fc4aad84456"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $node[\"Supabase: Buscar Cupón\"].json[\"estado\"] }}",
              "rightValue": "Pendiente",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f927abc5-197b-4a1e-8311-afe1e4375335",
      "name": "Verificar Estado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -64,
        -784
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Error de Canje</title><style>body{font-family:'Montserrat',sans-serif;text-align:center;padding:20px;background:#fef2f2;color:#991b1b;display:flex;align-items:center;justify-content:center;height:100vh;margin:0}.card{background:white;padding:40px;border-radius:20px;box-shadow:0 10px 25px rgba(0,0,0,0.1);max-width:400px;width:100%}.icon{font-size:60px;margin-bottom:20px}h1{margin:0 0 10px;font-size:24px}p{margin:5px 0}</style></head><body><div class=\"card\"><div class=\"icon\">❌</div><h1>Cupón Inválido</h1><p>El código <strong>{{ $node[\"Webhook (Canje QR)\"].json.query.code }}</strong> no existe o ya fue usado. Verifica en el sistema.</p></div></body></html>",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "7013b875-1136-45f6-91dc-78c5ab627539",
      "name": "HTML: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        176,
        -624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8722c972-8051-4ab2-b6db-426121955c65",
              "leftValue": "={{ $json.query.code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        -768
      ],
      "id": "a9f60fef-8095-41a8-9241-5cd201c5aec8",
      "name": "¿Viene Código?"
    }
  ],
  "pinData": {},
  "connections": {
    "Supabase: Buscar Cupón": {
      "main": [
        [
          {
            "node": "Verificar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Canje QR)": {
      "main": [
        [
          {
            "node": "¿Viene Código?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Estado": {
      "main": [
        [
          {
            "node": "HTML: Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Viene Código?": {
      "main": [
        [
          {
            "node": "Supabase: Buscar Cupón",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "10abfd8e-f4fb-477f-ad69-56011c253a27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdffcaf648a7aa062da0ec843fff869b930e75adc5303a6a19e86b840cf683f2"
  },
  "id": "phGikpAzQ970dllA",
  "tags": []
}